os:
  - linux
language: node_js
node_js:
  - '7'
  - '6'
  - '4'
env:
  - CXX=g++-4.8
install:
  - npm install
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - george-edison55-precise-backports
    packages:
    - g++-4.8
    - cmake
    - cmake-data
script:
  - npm test
